body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a {
  outline: none;
  -moz-outline-style: none;
}